*, 
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
*{
    font-family: 'Monserrat', sans-serif;
}
:root{
    --lightest-bg-color: #fef2f2;
    --lighter-bg-color: #fee2e2;
    --light-color: #fecaca;
    --rose-color: #fca5a5;
    --light-red-color: #f87171;
    --font-size: .9rem;
    --small-font-size: .8rem;
    --smaller-font-size: .7rem;
    --text-color: #404040;
    --light-text-color: #808080;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 1.5rem;
    font: var(--font-size);
    background-color: white;
    color: var(--text-color);
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
}
ul{
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}

/* Set up */

.nav-container{
    max-width: 960px;
    width: 92%;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
#heading *{
   display: inline;
   display: flex;
}
.logo-link{
    margin-right: auto;
    color: #f55a5a;
}


/* Nav */
.nav{
    max-width: 100vw;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    line-height: 2rem;
    float: right;
}

.nav-item{
    padding: 15px;
    margin-left: auto;
    color: #918E9B;
}
#nav-headings{
    float: right;
    color: #918E9B;
}
/* form */
.form-container{
    position: relative;
    margin: auto;
}
.booking-form{
    height: 68vh;
    width: 30vw;
    border: 1px solid black;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 8%;
    padding: 20px;
    position: absolute;
    margin-top: 5%;
    left: 2%;
    right: 10%;
    overflow: hidden;
}
.float-container {
    border: solid 1px #ccc;
    padding: 0 3px;
    margin-top: 2px;
    align-items: center;
    justify-content: center;
  }
  .float-container input {
    border: none;
    font-size: 16px;
    outline: 0;
    width: 195px;
    height: 20px;
    display: block;
    line-height: 1.2em;
    margin: auto;
    font-family: Poppins, sans-serif;
  }
  .float-container label {
    font-size: 10px;
    font-weight: 900;
    display: block;
  }
  .in-out input{
      /* display: inline-block; */
      font-size: 16px;
  }
  .amenities-p{
      font-weight: 900;
  }
  .amen-btns{
      padding: 6px;
      border-radius: 42%;
      border-width: 0.5px;
      margin-bottom: 10px;
  }
  .amen-btns:hover{
      cursor: pointer;
  }
  .submit-form{
      border-radius: 5%;
      border-width: 0.5px;
      text-align: center;
      padding: 7px;
      color: black;
      background-color: #f55a5a;
  }
/* Header */
.home-img-container{
    height: 65vh;
    max-width: 100%;
}
.house-one{
    max-height: 80vh;
    width: 80%;
    border-radius: 2%;
    float: right;
    margin-right: 27px;
}

/* middle section */
.mid-container{
    display: flex;
    margin-top: 200px;
    max-width: 100%;
    justify-content: center;
}
.mid-img{
    height: 65vh;
    width: 60vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 20px;
}
.hosting{
    background-color: #333333;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 65vh;
    width: 60vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 95px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 30px;
    color: #FFFFFF;
}
.hosting h2{
    font-size: 3rem;
}
.hosting p{
    font-size: 1.5rem;
}
.learn-button{
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    border-width: 0.5px solid black;
    font-size: 1.2rem;
}
.learn-button:hover{
    cursor: pointer;
}

/* Reviews */
.reviews-container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: space-between;
    width: 90vw;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 45px;
    flex: 0 0 auto;  
}
.review-card{
    width: 480px;
    padding-left: 30px;
}
.star-img{
    height: 15px;
}
.card-house{
    height: 40vh;
    border-radius: 5%;
    width: 30vw;
}
.review-p{
    font-family: Poppins, sans-serif;
    font-weight: 900;
}
.prof-pic{
    height: 10vh;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.reviews{
    margin-left: 30px;
    margin-top: 40px;
    line-height: 1px;
}
.review-count{
    color: #918E9B;
}
.person-name{
    display: inline;
}
.location{
    color: #918E9B;
    font-family: Poppins, sans-serif;
    display: block;
    font-weight: 600;
    text-align: left;
    margin-left: 80px;
    line-height: 10px;
    margin-bottom: 20px;
}

/* Benefits Section */
.benefits-container{
    display: flex;
    padding: 50px;
    align-items: center;
    flex: 0 0 auto; 
}
hr{
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1.5px;
    width: 92%;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
}

/* Just Booked */
.just-booked-container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: space-between;
    width: 80vw;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 45px;
    flex: 0 0 auto; 
}
.booked-card{
    width: 460px;
    padding-left: 20px;
}
.card-house-2{
    height: 35vh;
    border-radius: 5%;
    width: 22vw;
}
.home-type{
    color: #918E9B;
    margin-left: auto;
}
.booked-header{
    margin-left: 30px;
    margin-top: 15px;
}
.show-more-btn{
    padding: 15px;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 7%;
    background-color: white;
    border-width: 0.5px;
}
.show-more-btn:hover{
    cursor: pointer;
}
.add-dates-btn{
    color: white;
    background-color: #222222;
    padding: 18px;
    border-radius: 10%;
    border-width: 0.5px;
    margin-top: 25px;
    margin-bottom: 35px;
}
.add-dates-btn:hover{
    cursor: pointer;
}
.pricing{
    color: #918E9B;
    font-family: Poppins, sans-serif;
    line-height: 14px;
}
.copyright{
    color: #918E9B;
    font-size: .8rem;
    margin-left: 15px;
}
.copyright a{
    color: #918E9B;
    font-size: .8rem;
}
.copyright.a{
    margin-left: 25px;
}
.copyright a:hover{
    cursor: pointer;
    border-bottom: .5px solid black;
}
.social-icons img{
    display: inline;
    margin-right: auto;
}
@media (max-width: 700px){
    .house-one{
        display: none;
    }
    .home-img-container{
        height: 55vh;
    }
    .form-container{
        position: relative;
        margin: auto;
    }
    .booking-form{
        width: 97%;
        height: 55vh;
        position: absolute;
        top: 55px;
    }
    .mid-container{
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        max-width: 100%;
        justify-content: center;
    }
    .mid-img{
        height: 60vh;
        width: 85vw;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        margin-right: 20px;
        margin-left: 50px;
    }
    .hosting{
        background-color: #333333;
        align-items: center;
        justify-content: center;
        justify-items: center;
        height: 60vh;
        width: 85vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        padding-top: 95px;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: 50px;
        margin-top: 0px;
        color: #FFFFFF;
    }
    .benefits-container{
        flex-direction: column;
    }
    .reviews-container{
        flex-direction: column;
        flex: 1 1 auto;
    }
    .card-house{
        height: 40vh;
        border-radius: 5%;
        width: 65vw;
    }
    .just-booked-container{
        flex-direction: column;
    }
    .card-house-2{
        height: 35vh;
        border-radius: 5%;
        width: 60vw;
    }
}

@media (max-width: 500px){
    .house-one{
        display: none;
    }
    .home-img-container{
        height: 55vh;
    }
    .form-container{
        position: relative;
        margin: auto;
    }
    .booking-form{
        width: 97%;
        height: 55vh;
        position: absolute;
        top: 55px;
    }
    .mid-container{
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        max-width: 100%;
        justify-content: center;
    }
    .mid-img{
        height: 60vh;
        width: 85vw;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        margin-right: 20px;
        margin-left: 30px;
    }
    .hosting{
        background-color: #333333;
        align-items: center;
        justify-content: center;
        justify-items: center;
        height: 60vh;
        width: 85vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        padding-top: 95px;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: 30px;
        margin-top: 0px;
        color: #FFFFFF;
    }
    .benefits-container{
        flex-direction: column;
    }
    .reviews-container{
        flex-direction: column;
        flex: 1 1 auto;
    }
    .card-house{
        height: 40vh;
        border-radius: 5%;
        width: 85vw;
    }
    .just-booked-container{
        flex-direction: column;
    }
    .card-house-2{
        height: 35vh;
        border-radius: 5%;
        width: 78vw;
    }
    .nav-item{
        font-size: 12px;
    }
}